.deposit-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.withdrawal-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.selected {
  border-radius: 10px;
  padding: 5px 10px;
}
